.main-login {
    background: linear-gradient(to right, #8B0000, #C00000);
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.logo-box {
    color: white;
    display: flex;
    align-items: center;
}

.logo-box div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-box img {
    width: 200px;
}

.logo-box div h1 {
    font-size: 50px;
    font-weight: bold;
}

.login-box {
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.login-form h3 {
    color: #800000;
    text-align: center;
    margin-bottom: 15px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-form #signup-link{
    margin-top: 20px;
}

.login-form p {
    font-size: 14px;
    text-align: center;
}

.login-form a {
    color: #800000;
    text-decoration: none;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
.success {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
}